Repository datafold/data-diff, pull requests merged in 2023-04, with the labels that each got.

#469 Snowflake support private_key_passphrase
  data_diff/dbt.py
  poetry.lock
  pyproject.toml
  tests/test_dbt.py
Labels: enhancement, --dbt

#478 raise when project vars not found
  data_diff/dbt.py
Labels: enhancement, --dbt

#488 dbt tracking
  data_diff/dbt.py
  data_diff/tracking.py
Labels: enhancement, --dbt

#464 reduce repetition in print statements
  data_diff/dbt.py
Labels: --dbt

#477 get_unique_columns: continue on None or empty list
  data_diff/dbt.py
Labels: bug, --dbt

#490 Issue 489: do not infer source pks from tests
  data_diff/dbt.py
Labels: bug, --dbt

#487 add snowflake sso
  data_diff/dbt.py
  tests/test_dbt.py
Labels: enhancement, --dbt

#466 Datafold database credentials from cli
  data_diff/cloud/__init__.py
  data_diff/cloud/data_source.py
  data_diff/cloud/datafold_api.py
  data_diff/dbt.py
  data_diff/tracking.py
  dev/_bq_import_csv.py
  tests/cloud/files/data_source_list_response.json
  tests/cloud/files/data_source_schema_config_response.json
  tests/cloud/test_data_source.py
  tests/test_dbt.py
  tests/test_diff_tables.py
Labels: enhancement, cloud, --dbt

#492 save and get the api key from the system keyring service
  data_diff/dbt.py
  poetry.lock
  pyproject.toml
Labels: enhancement, cloud, --dbt

#491 Grab credentials from profiles.yml
  data_diff/cloud/data_source.py
  data_diff/dbt.py
  data_diff/dbt_parser.py
  tests/cloud/test_data_source.py
  tests/test_dbt.py
Labels: enhancement, cloud, --dbt

#497 cleaner rows added/removed
  data_diff/utils.py
  poetry.lock
  pyproject.toml
  tests/test_dbt.py
Labels: --dbt

#496 support insecure_mode key for snowflake profile
  data_diff/dbt_parser.py
Labels: enhancement, --dbt

#498 handle all custom schemas scenarios
  data_diff/dbt.py
  tests/test_dbt.py
Labels: bug, enhancement, --dbt

#502 issue 501: instantiate dbt variables
  data_diff/tracking.py
Labels: bug

#506 issue 505: add client_session_keep_alive
  data_diff/dbt_parser.py
Labels: enhancement, --dbt

#517 warn when using recent dbt-core version
  data_diff/dbt_parser.py
  tests/test_dbt.py
Labels: enhancement, --dbt

#508 Add logs to indicate current artifact being parsed in debug mode
  data_diff/dbt_parser.py
Labels: enhancement, --dbt

#522 support datadiff meta filter
  data_diff/cloud/datafold_api.py
  data_diff/dbt.py
  tests/test_dbt.py
Labels: enhancement, cloud, --dbt

#521 remove duplicated consts and methods
  data_diff/dbt.py
  tests/test_dbt.py
Labels: --dbt

#528 add a doc link when vars do not exist
  data_diff/dbt_parser.py
  data_diff/version.py
  pyproject.toml
Labels: enhancement, --dbt
