Repository datafold/data-diff, pull requests merged in 2023-05, with the labels that each got.

#383 Json matching & tests for sqeleton PR #15
  data_diff/hashdiff_tables.py
  data_diff/utils.py
  tests/test_database_types.py
Labels: Linear

#511 Allow dbt selectors
  data_diff/__main__.py
  data_diff/dbt.py
  data_diff/dbt_parser.py
  poetry.lock
  pyproject.toml
  tests/test_dbt.py
Labels: enhancement, --dbt

#555 instantiate MACRO_DEBUGGING global for dbt
  data_diff/dbt_parser.py
Labels: bug, --dbt

#556 if dbt ls throws an exception, raise that first
  data_diff/dbt_parser.py
Labels: bug, --dbt

#531 add support for two part id
  data_diff/dbt.py
  tests/test_dbt.py
Labels: bug, --dbt

#544 remove optional flag from --dbt dependencies
  data_diff/dbt_parser.py
  data_diff/sqeleton/databases/base.py
  poetry.lock
  pyproject.toml
  tests/test_dbt.py
Labels: enhancement, --dbt

#541 output cols added/removed/types changed
  data_diff/cloud/datafold_api.py
  data_diff/dbt.py
  data_diff/utils.py
Labels: enhancement, cloud, --dbt

#547 enhance cloud event metadata
  data_diff/cloud/__init__.py
  data_diff/cloud/datafold_api.py
  data_diff/dbt.py
  data_diff/tracking.py
  tests/test_dbt.py
Labels: enhancement, cloud, --dbt

#548 support "port" in oracle connection
  data_diff/sqeleton/databases/_connect.py
Labels: enhancement

#584 handle column type changes
  data_diff/dbt.py
  data_diff/utils.py
  tests/test_dbt.py
Labels: bug, --dbt

#585 continue --dbt diff when null PKs exist
  data_diff/__init__.py
  data_diff/dbt.py
  data_diff/joindiff_tables.py
  tests/test_dbt.py
Labels: bug, enhancement, --dbt

#592 fix Redshift view support
  data_diff/sqeleton/databases/redshift.py
Labels: bug, --dbt

#587 add warning when using outdated data-diff version
  data_diff/dbt.py
  data_diff/dbt_parser.py
  data_diff/utils.py
Labels: enhancement, --dbt

#586 add support for custom database config
  data_diff/dbt.py
  tests/test_dbt.py
Labels: enhancement, --dbt
