Repository datafold/data-diff, pull requests merged in 2023-07, with the labels that each got.

#644 poll more frequently when using --cloud
  data_diff/cloud/datafold_api.py
  data_diff/errors.py
Labels: enhancement, cloud, --dbt

#643 add --dbt support for --columns
  data_diff/__main__.py
  data_diff/dbt.py
  tests/test_dbt.py
Labels: enhancement, --dbt

#651 fix profile_dir argument overwritten by legacy dir for DBT < 1.3.0
  data_diff/dbt_parser.py
Labels: bug, --dbt
