Repository datafold/data-diff, pull requests merged in 2023-03, with the labels that each got.

#419 Issue 417 error handling
  data_diff/dbt.py
  data_diff/utils.py
  tests/test_dbt.py
Labels: --dbt

#394 Fix multiple Diffs Complete! messages
  data_diff/dbt.py
Labels: bug

#400 always use model.alias for table path
  data_diff/dbt.py
Labels: bug

#431 support combo pks in --dbt local_diff
  data_diff/dbt.py
  tests/test_dbt.py
Labels: enhancement, --dbt

#435 issue 425 parse and use threads
  data_diff/dbt.py
  tests/test_dbt.py
Labels: enhancement, --dbt

#395 render jinja in entire selected profile
  data_diff/dbt.py
  tests/test_dbt.py
Labels: bug, --dbt

#437 support custom schemas
  data_diff/dbt.py
Labels: enhancement, --dbt

#440 Fix --dbt for dbt-core >= 1.4.2
  data_diff/dbt.py
  poetry.lock
  pyproject.toml
Labels: bug, --dbt

#455 Adding user id to tracking
  data_diff/dbt.py
  data_diff/tracking.py
Labels: enhancement, --dbt

#463 increment dbt supported version to include 1.4.5
  data_diff/dbt.py
  tests/dbt_artifacts/target/manifest.json
  tests/dbt_artifacts/target/run_results.json
Labels: enhancement, --dbt

#462 cloud api token flow
  data_diff/dbt.py
  data_diff/diff_tables.py
  data_diff/joindiff_tables.py
  data_diff/tracking.py
  tests/test_dbt.py
Labels: enhancement, cloud, --dbt

#467 expand --cloud output by polling for results
  data_diff/dbt.py
  data_diff/diff_tables.py
  data_diff/utils.py
  pyproject.toml
  tests/test_dbt.py
Labels: enhancement, cloud, --dbt

#468 add basic snowflake key/pair support
  data_diff/dbt.py
  tests/test_dbt.py
Labels: enhancement, --dbt
